<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Researcher_s_portalConnectionString" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=&quot;Researcher's portal&quot;;Integrated Security=True"
    providerName="System.Data.SqlClient" />
    <add name="Researcher's portalConnectionString" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=&quot;Researcher's portal&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Researcher's portalConnectionString2" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=&quot;Researcher's portal&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Researcher's portalConnectionString3" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=&quot;Researcher's portal&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Researcher's portalConnectionString4" connectionString="Data Source=DESKTOP-3N40DTS\SQLEXPRESS;Initial Catalog=&quot;Researcher's portal&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <system.web>
     
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>